@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* > {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*--------------------------NAVBAR-------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  background: #1a1344;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  height: 90px;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li a.active, nav ul li a:hover {
  color: #111;
  background: #fff;
}

input[type="checkbox"] {
  display: none;
}

/*----------------------------HOME-----------------------------------------------*/
section.Home {
  background-color: #61a6bd;
  height: 900px;
}

section.Home .presentacionhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.Home .presentacionhome h1 {
  font-size: 600%;
  font-family: "Lora", serif;
}

section.Home .presentacionhome div img {
  margin-right: 150px;
  height: 450px;
  border-radius: 300px;
}

/*----------------------------TARJETAS-------------------------------------------*/
section.contenido {
  background-image: url(https://media.giphy.com/media/3o7aDcrsww5Ybp18hq/giphy.gif);
  background-color: black;
  display: -ms-grid;
  display: grid;
  margin: 0px;
  border: 0px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 100px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 500px 500px;
      grid-template-rows: 500px 500px;
  gap: 60px;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contenido div.tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  background-color: #61a6bd;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  max-width: 500px;
}

section.contenido div.tarjeta div.tarjetaimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  overflow: hidden;
}

section.contenido div.tarjeta div.tarjetaimg img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

section.contenido div.tarjeta div.descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 40%;
}

section.contenido div.tarjeta div.descripcion div.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lora", serif;
  font-size: 30px;
  padding-top: 0px;
  margin-top: 0px;
  color: "#1a1344";
}

section.contenido div.tarjeta div.descripcion div.titulo h2 {
  font-family: "Lora", serif;
}

section.contenido div.tarjeta div.descripcion div.texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contenido div.tarjeta div.descripcion div.texto p {
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  padding-top: 0px;
  font-family: "EB Garamond", serif;
  font-size: 18px;
  width: 75%;
  text-align: justify;
  color: "#1a1344";
}

section.contenido div.tarjeta div.descripcion div.texto button {
  background-color: #1a1344;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-family: "EB Garamond", serif;
  font-size: 0%;
  text-align: center;
  -webkit-text-decoration: dodgerblue;
          text-decoration: dodgerblue;
  display: inline-block;
  font-size: 16px;
  margin: 2px 18px;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  cursor: pointer;
  width: 20%;
  height: 80px;
}

section.contenido div.tarjeta div.descripcion div.texto button:hover {
  background-color: #82cbec;
  color: black;
}

footer {
  background-color: lightblue;
}

footer div.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*--------------------------------------------------------RESPONSIVE-----------------------------------------------*/
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active, nav ul li a:hover {
    background: none;
    color: cyan;
  }
  section.contenido {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 0px;
  }
  section.contenido div.tarjeta {
    width: 300px;
    height: 400px;
  }
  section.contenido div.tarjeta div.descripcion div.titulo h2 {
    font-size: 80%;
  }
  section.contenido div.tarjeta div.descripcion div.texto {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.contenido div.tarjeta div.descripcion div.texto p {
    font-size: 85%;
  }
  section.contenido div.tarjeta div.descripcion div.texto button {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=estilos.css.map */