$title-font: 'Lora', serif;
$text-font: 'EB Garamond', serif;
$main-color: #1a1344;
$secondary-color: rgb(97, 166, 189);
* >{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
/*--------------------------NAVBAR-------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1a1344;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  .logo{
    display: flex;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    align-items: center;
    img{
      height: 90px;
    }
  }
  .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li{
        margin: 0 5px;
        a{
            color: #f2f2f2;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            padding: 8px 15px;
            border-radius: 5px;
            letter-spacing: 1px;
            transition: all 0.3s ease;
          }
      }
  }
}
nav ul li a.active, nav ul li a:hover{
  color: #111;
  background: #fff;
}
input[type="checkbox"]{
  display: none;
}
/*----------------------------HOME-----------------------------------------------*/

section.Home{
    background-color: rgb(97, 166, 189);
    height: 900px;
    .presentacionhome{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        h1{
          font-size: 600%;
          font-family: $title-font;   
        }
        div{
          img{
            margin-right: 150px;
            height: 450px;
            border-radius: 300px;
          }
        }
    }
}
/*-----------------------------WhatAbout------------------------------------------*/

section.About{
  display: flex;
  justify-content: space-around;
  background-color: $secondary-color;
  div.Contador{
    background-color:coral;
    height: 100px;
  }
  div.calculadora{
    background-color: cornflowerblue;
    height: 100px;
  }
}

/*----------------------------TARJETAS-------------------------------------------*/
section.contenido{
    background-image: url(https://media.giphy.com/media/3o7aDcrsww5Ybp18hq/giphy.gif);
    background-color: black;
    display: grid;
    margin: 0px;
    border: 0px;
    padding-right: 100px; 
    padding-left: 100px;
    padding-top: 100px;
    grid-template-columns: auto auto;
    grid-template-rows: 500px 500px;
    gap: 60px;
    min-height: 100%;
    justify-content: center;
    div.tarjeta{
        display: flex;
        margin: 20px;
        background-color: rgb(97, 166, 189);
        border-radius: 30px;
        flex-direction: column;
        height: 90%;
        max-width: 500px;
        div.tarjetaimg{
            display: flex;
            margin: 0px;
            padding: 10px;
            justify-content: center; 
            height: 50%;
            overflow: hidden;
            img{
                width: 100%;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
            }
        }
        div.descripcion{
            display: flex;
            flex-flow: column;
            height: 40%;
            div.titulo{
                display: flex;
                width: 100%;
                height: 35%;
                justify-content: center;
                align-items: center;
                font-family: $title-font;
                font-size: 30px;
                padding-top: 0px;
                margin-top: 0px;
                color:$main-color;
                h2{
                  font-family: $title-font;
                }
            }
            div.texto{
                display: flex;
                align-items:center;
                justify-content: center;
                p{
                    margin: 10px;
                    margin-top: 0px;
                    padding: 10px;
                    padding-top: 0px;
                   font-family: $text-font;
                   font-size: 18px;
                   width: 75%;
                   text-align: justify;
                   color: $main-color;
                }
                button{
                    background-color: #1a1344;
                    border: 2px solid rgb(0, 0, 0);
                    border-radius: 10px;
                    color: white;
                    font-family: $text-font;
                    font-size: 0%;
                    text-align: center;
                    text-decoration:dodgerblue;
                    display: inline-block;
                    font-size: 16px;
                    margin: 2px 18px;
                    transition-duration: 3s;
                    cursor: pointer;
                    width: 20%;
                    height: 80px;
                }
                button:hover{
                    background-color: rgb(130, 203, 236);
                    color:black;
                }
            }
        }
    }
}
footer{
  background-color: lightblue;
  div.redes{
    display: flex;
    justify-content: center;
  }
}
/*--------------------------------------------------------RESPONSIVE-----------------------------------------------*/
@media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
      a{
          width: 100%;
          margin-left: -100%;
          display: block;
          font-size: 20px;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active, nav ul li a:hover{
      background: none;
      color: cyan;
    }
    section.contenido{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 0px;
          div.tarjeta{
            width: 300px;
            height: 400px;
            div.tarjetaimg{
                img{
                }
            }
            div.descripcion{
                div.titulo{
                  h2{
                    font-size: 80%;
                  }
                }
                div.texto{
                  align-items: center;
                    p{
                      font-size: 85%;
                    }
                    button{
                       margin-left: 0px;
                       margin-bottom: 20px;
                    }
                }
          }
    }
}
}